*{
    margin: 0;	
    padding: 0;
    box-sizing: border-box;    
}




.container {   
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.container .card {  
    width: 100%;  
    border: solid 2px; 
    border-color: rgb(51, 51, 58);
    height: 280px;
    width: 200px;    
    margin: 10px;
    padding: 5px;
   
    
}

.container .card header .nombreArticulo{
    font-size: 16px;
}

.container .card picture img{
    height: 140px;
    width: 160px;
}