.NavBarContainer nav{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;          
}

.NavBarContainer nav .categories button{
    margin-left: 15px;
    background-color: rgb(88, 85, 85);
    color: yellow;
    padding: 15px 35px 15px 35px;
    font-size: 15px;    
    margin-right: 50px;    
}
    
   
.NavBarContainer nav img{
    width: 270px;
    height: 70px;          
}

.NavBarContainer div .cart-icon{
    
    background-color: white;
    width: 45px;
    height: 45px;
}

.NavBarContainer div span{
    color: white;
}

div .greeting {

    background-color: rgb(88, 85, 85);
    color: rgb(209, 209, 78);
    text-align: center;
    margin-top: 15px;
}


.NavBarContainer nav .categories a .ActiveOption{
    text-decoration: none;    
}




#root div div .greeting{
    margin-bottom: 25px;
    padding: 15px;
}


#root div div div {   
    max-width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    flex-wrap: wrap; 
}



#root div div h1.loadingorder {    
    width: 100%;
    margin-top: 300px;    
    text-align: center;
    font-style: italic;
}

#root div h1.thanks {
    width: 100%;
    margin-top: 300px;
    margin-bottom: 40px;
    text-align: center;
    color: rgb(91, 91, 97);
}

#root div h2.orderidcompra {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: rgb(91, 91, 97);
}

#root div h2.orderidcompra span {

    color: rgb(81, 81, 153);
}

#root div .createorder h1.finalizar {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(91, 91, 97);
    color: rgb(209, 209, 78);
}

#root div .createorder .container-form form{
    display: flex;
    flex-direction: column;    

}
#root div .createorder .container-form form label {
    margin: 5px;
    text-align: end;
    font-weight: bold;

}

#root div .createorder .container-form form label input{
    margin-left: 10px;

}

#root div .createorder .container-form form div {
    display: flex;
    justify-content: center;

}



#root div .createorder .container-form form div .button-create {
    margin-top: 20px;
    background-color: rgb(91, 91, 97);
    padding: 7px;
    color: yellow;  
    margin-left: 75px;   
}

#root div .createorder .container-form form div .button-create:hover{
    
    background-color: rgb(57, 57, 59);
     
}