
.counter {
    display: flex;
    flex-direction: column;
}

.counter .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.counter button{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(88, 85, 85);
    color: yellow;
    padding: 5px;
}

.counter div .botonagregar{
    padding: 10px;

}